@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    background-color: #dfbe82;
}


header {
    width: auto;
    height: 100px;
    background-color: #522e0c8f;
    color: whitesmoke;
    text-align: center;
    padding: 02px 0px;
    /* padding: 10px 0px 10px 0px; /* es lo mismo que (sentido agujas del reloj): padding-top: 10px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px; */
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

footer {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
}

.footer-sns {
    margin: 10px;
}

.footer-sns h3 {
    color: #ffffff
}

.links-sns {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

h1 {
    font-family: "Playfair Display";
    font-size: 70px;
    font-style: italic;
    font-weight: 900;
}

h3, h5 {
    font-family: "Lexend Zetta";
    color: #595959;
}

h4, h6 {
    font-weight: bold;
}

nav {
    height: 75px;
    background-color: #333;
    font-size: 25px;
    font-family: "Lexend Zetta";
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 17px 0 0 0;
}

nav ul li {
    margin: 0 40px;
}

nav ul li a {
    color: beige;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: rgb(167, 116, 69);
}

/* PÁGINA DE INICIO Y RESEÑAS */
.nosotros {
    padding: 20px;
    font-size: 20px;
}

.nosotros p {
    margin: auto;
}

#cafe-bonheur {
    width: 400px;
    float: left;
    margin-right: 5px;
}

#cafeteria-llena {
    width: 400px;
    float: right;
}

.seccion-reviews {
    width: 90%;
    max-width: 1200px;
    margin: 20px 0px 0px 20px;
    text-align: center;
}

.seccion-reviews h3 {
    text-align: left;
}

.review-grid {
    display: grid;
    width: 600px;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px 0px 20px 0px;
}

.review-card {
    background-color: #ffffff;
    padding: 15px;
    margin-top: 5px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* BREAKPOINTS RESPONSIVOS */
@media (min-width: 600px) {
    .review-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .review-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* PÁGINA DE PRODUCTOS */
.product-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.card {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Efecto sobre las cards */
    transition: box-shadow 0.3s;

}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.836);
}

.card img {
    width: 200px;
    height: auto;
}

.card h4 {
    margin: 10px 0;
}

.card p {
    margin: 10px 0;
}

/* BOTÓN 'COMPRAR' */
.boton {
    position: absolute bottom 500px;
}

button {
    border: none;
    outline: none;
    background-color: #927134;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #ac966e;
}

button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}

/* BREAKPOINTS RESPONSIVOS */
@media (min-width: 576px) {
    .card {
        width: calc(50% - 30px);
    }
}

@media (min-width: 768px) {
    .card {
        width: calc(33.33% - 30px);
    }
}

@media (min-width: 992px) {
    .card {
        width: calc(25% - 30px);
    }
}


/* PÁGINA DE CONTACTO */
/* .contacto-grid {
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 20px; 
    max-width: 1200px; 
    margin-top: 30px;
} */

.container-formulario {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mapa {
    margin: 20px 0px 0px 0px;
    text-align: left;
}

.mapa iframe {
    width: 500px;
    height: 400px;
    border: 0;
}

form {
    margin: 0px;
    width: 400px;
}

fieldset {
    padding: 30px;
}

input,
textarea,
button {
    width: 100%;
}

/* Responsive Breakpoints */
@media (min-width: 500px) {
    .contacto-grid {
        flex-direction: row;
    }
}

/* PÁGINA CARRITO */
.construccion {
    text-align: center; 
    margin: 20px 0px;
}